/* Empty. Add your own CSS if you like */

.trivia-logo-div {
    width: 0 auto;
    text-align: center;
}

.trivia-logo {
    position: relative;
    top: 80px;
    width: 70%;
    margin: 20px;
}

.trivia-title {
    position: relative;
    top: 30px;
    width: 90%;
    margin: 0 auto;
    color: white; 
    text-align: center;
    font-size: 45px;
}

.trivia-start {
    position: relative;
    top: 30px;
    text-align: center;
}

.start-button {
    width: 85%;
    color: white;
    background-color: #38E7F9;
    text-align: center;
    font-size: 32px;
    border-radius: 15px;
}

.trivia-main {
    text-align: center;
}

.trivia-question {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.trivia-choice {
    background-color: #74FCFC;
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}

.trivia-restart {
    text-align: center;
}

.trivia-restart-button {
    font-size: 30px;
    border: solid purple;
}